.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  z-index: -1;
}

.bgTop {
  /*z-index: 2;*/
  opacity: 0.5;
  position: absolute;
}

.bgMiddle {
  z-index: -1;
  opacity: 0.75;
  position: absolute;
}

.bgBottom {
  z-index: -2;
  position: absolute;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: lightgray;
}
/* Define un estilo para el formulario */
.login-form {
width: 400px;
margin: 0 auto;
font-family: Tahoma, Geneva, sans-serif;
}
/* Define estilos para los campos de entrada */
.login-form input[type="text"],
.login-form input[type="password"] {
width: 100%;
padding: 15px;
border: 1px solid #dddddd;
margin-bottom: 15px;
box-sizing: border-box;
font-size: 14px;
}
/* Define estilos para el botón de inicio de sesión */
.login-form input[type="submit"] {
width: 100%;
padding: 15px;
background-color: #535b63;
border: 0;
box-sizing: border-box;
color: #ffffff;
font-size: 14px;
cursor: pointer;
}
/* Define un estilo para el formulario */
.register-form {
width: 400px;
margin: 0 auto;
font-family: Tahoma, Geneva, sans-serif;
}
/* Define estilos para los campos de entrada */
.register-form input[type="text"],
.register-form input[type="password"] {
width: 100%;
padding: 15px;
border: 1px solid #dddddd;
margin-bottom: 15px;
box-sizing: border-box;
font-size: 14px;
}
/* Define estilos para el botón de register */
.register-form input[type="submit"] {
width: 100%;
padding: 15px;
background-color: #535b63;
border: 0;
box-sizing: border-box;
color: #ffffff;
font-size: 14px;
cursor: pointer;
}